# ORCA local environment
COPERNICUS_USERNAME=
COPERNICUS_PASSWORD=
COPERNICUS_SST_PRODUCT=
COPERNICUS_CHLOROPHYLL_PRODUCT=
COPERNICUS_OCEAN_STATE_PRODUCT=
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGIS_EEZ_DATASET_PATH=
POSTGIS_MPA_DATASET_PATH=
POSTGIS_IMBL_DATASET_PATH=
ORCA_LIVE_TESTS=0
